<div class="card mt-5">
	<div class="form-group centered mt-3">
		<a class="menu-btn" href="/play?action=new">New</a>
		<a class="menu-btn" href="/play?action=load&id=5a56a2d2d4e50d179c643b47">Load</a>
	</div>
</div>
