<div class="card mt-5">
	<div class="form-group centered mt-3">
		<a class="menu-btn" href="/play?action=new">New</a>
		<a class="menu-btn" href="/play?action=load&id=5a56fc694529d2032b5ae0bb">Load</a>
	</div>
</div>
